.LoginPage-Container{
    background-color: blue;
    margin-top: 0px;
}
h1{
    text-align:center;
    font-size: 40;
    color: white;
}
h2{
    padding-top: 100px;
    margin-bottom:20px;
    font-size: 30;
}
.SigninContainer{
    align-items:"center";
    background-color:white;
    padding-top:200;
    padding-bottom:200;

    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30%;
    
}
.btn{
    background-color:greenyellow;
}
input{
    margin-bottom: 20px;
}
button{
    margin-bottom: 100px;
}
